@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Titillium+Web&display=swap');

.analise {
 
    background-image: url('./imagens/fundo_branco.jpg');
    width: 100%;
    margin: auto;
    height: 850px;
    
}

.analise h1{

    color: rgb(0, 0, 0);
    font-family: 'Titillium Web', sans-serif;
    margin-top: 0;
    padding-top: 73px;

}