@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Titillium+Web&display=swap');

#AnaliseCadastro .fundo{

    background-image: url('./imagens/fundo_branco.jpg');
    background-position: center;
    width: 90%;
    height: 700px;
    margin-top: 10px; 
    padding: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;

};
    


