@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Titillium+Web&display=swap');

.analise h1{
 color: black;
 font-family: 'Titillium Web', sans-serif;
};

.fundo{
    background-image: url('https://i.imgur.com/SkGXsFL.jpg');
    background-position: center;
    width: 100%;
    height: 950px;
    
};