@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Titillium+Web&display=swap');


.fale{

    background-image: url('./imagens/fundo_branco.jpg');
    background-position: center;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    
}

.faleconosco{

    display: flex;
    justify-content: space-around;
    
    /* align-items: center; */
}

.faleconosco h1{

    font-size: 70px;
    color: #933999;
   
}

.faleconosco p{

    font-size: 25px;
    color: black;
    
}


.info img{

    width: 50px;
    height: 50px;

}

.info{
    margin-top: 110px;
}

.atendimento{

    display: flex;
    align-items: center;

}

.info iframe{
    margin-top: 50px;
}

.conosco{

    margin-top: 60px;

}
