@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.menu{

    background: #933999;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 25px;
    font-family: 'Koulen', cursive;
    height: 75px;
    width: 100%;

}

.menu img {

    max-width: 90px;
    max-height: 90px;
    

}

.menu a{

    color: white;
    text-decoration: none;
    text-align: center;

}

.linksMenu a:hover{

    color: #D4A4FB;

}


.menu .linksMenu{

    margin-top: 15px;

}

.menu .linksMenu a{

    margin: 0px 10px;
    
} 

.menu button {

    background: #933999;
    /* margin: 0 1em 0 0; */
    padding-left: none;
    padding-right: none;
    padding: 0;
    width: 80px;
    border: none;

   
}

.menu button img {

    width: 70px;
    height: 70px;

}

/* @media only screen and (max-device-width: 915px) {
    .menu { max-width: 100%;
            display: flex;
            justify-content: space-between;
            color: white;
            font-size: 15px;
            font-family: 'Koulen', cursive;
            height: 70px; } 

    .menu img { max-width: 70px;
                max-height: 70px; }         
}*/