.fundo_mini_menu{

    background: #0c030965;
    

}

.container_mini_menu{

    font-family:'Titillium Web', sans-serif;
    border: 5px 10px 5px;
    border-radius: 30px;
    box-shadow: 3px 2px 3px #933999;
    margin: 180px auto;
    max-width: 400px; 
    padding: 30px;
    text-align: center;
    font-size: 22px;
    background:#f7d3fa;

}