@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Titillium+Web&display=swap');

.container_mini_menu{

    font-family:'Titillium Web', sans-serif;
    border: 5px 10px 5px;
    border-radius: 30px;
    max-width: 400px; 
    padding: 30px;
    text-align: center;
    font-size: 22px;
    background:#f7d3fa;
    color:black;
    position: absolute;
    right: 0;
    z-index: 100;

}

.container_mini_menu a{

    color: black;

}

.container_mini_menu a:hover{

    color:#8e3c95;

}

.MiniMenu_invisivel{

    display: none;

}

/* .Sair_centro{

    max-height: 100px;
    margin: 50px;
    width: 800px ;

}  */