@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Titillium+Web&display=swap');


.fundo{
    background-image: url('./imagens/fundo_branco.jpg');
    background-position: center;
    width: 100%;
    height: 950px;
    
};




.box6{
    font-family:'Titillium Web', sans-serif;
    justify-content: space-between;
    border: 5px 10px 5px;
    border-radius: 30px;
    box-shadow: 3px 2px 3px #933999;
    margin: 150px auto;
    width: 550px;
    padding: 30px;
    text-align: center;
    font-size: 22px;
    background:#f7d3fa
};





.Parceiros{

    display: flex;
    justify-content: space-between;
    
    
}
    
img{
    margin: 50px;
}