@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Titillium+Web&display=swap');

.perguntasf{

    font-family: 'Titillium Web', sans-serif;
    background-image: url('./imagens/fundo_branco.jpg');
    color: black;
    padding-top: 100px;
    margin: 0;
    padding-bottom: 80px;

}

.perguntasf ul{

    list-style-type: none;
    padding: 0;
    margin-left: 500px;
    margin-right: 500px;
    border: block rgb(36, 10, 36);
    
}

.perguntasf li{

    background: rgba(205, 95, 233, 0.363);
    
    border-radius: 10px;
    


}

.perguntasf li:hover{

    background-color: #cb6ce6;

}

.perguntasf li p{

    display: none;

}