@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Titillium+Web&display=swap');

.container {

    color: rgb(37, 7, 32);
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: space-between;
    background-image: url('https://st4.depositphotos.com/1031174/38140/i/450/depositphotos_381405246-stock-photo-closeup-purple-textured-concrete-background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;

}

p{
    font-family: 'Titillium Web', sans-serif;
}

.div1{

    background: transparent;
    margin: 5%;
    padding: 5%;
    color: white;
    font-size: 110%;

}

.div2{

    background: transparent;
    margin: 5%;
    padding: 5%;
    color: rgb(250, 250, 250);
    font-size: 110%;
    text-align: center;

}

.button3{

    background: #933999 ;
    border: none;
    box-shadow: 3px 2px 3px #333333;
    width: 100%;
    height: 30%;
    font-size: 20px;
    border-radius: 15px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

h3{

    margin: 2px;

}