@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Titillium+Web&display=swap');


.fundo{

    background-image: url('./imagens/fundo_branco.jpg');
    background-position: center;
    width: 100%;
    height: 950px;
    
}


.button3 {

    width: 140px;
    height: 50px ;
    padding: 15px;
    background: #933999;
    color: white;
    border-radius: 15px;
    border: none;
    text-decoration: none;
}

.box3{

    font-family:'Titillium Web', sans-serif;
    justify-content: space-between;
    border: 5px 10px 5px;
    border-radius: 30px;
    box-shadow: 3px 2px 3px #933999;
    height: 450px;
    width: 550px;
    padding: 30px;
    text-align: center;
    font-size: 22px;
    background:#f7d3fa;
    margin-top: 100px;
    margin-right: 40px;

}

#simulacao .input{

    width: 80%;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border-color: #933999;
}

#simulacao .select{

    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 81%;
    font-size: 19px;
    border-radius: 10px;
    border-color: #933999;
}

.fundo3{

    display: flex;
    justify-content: space-between;
    font-family: 'Titillium Web', sans-serif;

}

#simulacao .titulo img{

    width: 500px;
    height: 500px;
    margin-top: 30px ;
    
}

#simulacao .titulo h2 {
   
    padding-left: 50px;
    color: #933999;
    font-size: 50px;
}
